<section aria-labelledby="pricing-section" id="pricing">
  <div class="lg:px-16 max-w-7xl md:px-12 mx-auto px-8 py-24 scroll-mt-12">
    <div class="text-center max-w-3xl mx-auto">
      <img class="inline bg-center w-32 pb-8" src="/public/ProModeIcon-Light3x.png"></>
      <h2 class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
        Take your beauty stash to the next level with BeautyMark Pro
      </h2>

      <!-- Sub duration selector -->
      <span class="pt-8 text-center max-w-3xl mx-auto inline-flex rounded-md shadow-sm">
        <button
          type="button"
          class="relative inline-flex items-center rounded-l-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
          Monthly
        </button>
        <button
          type="button"
          class="relative -ml-px inline-flex items-center bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
          Yearly
        </button>
        <button
          type="button"
          class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
          Lifetime
        </button>
      </span>
    </div>
    
    <div
      class="grid max-w-2xl grid-cols-1 py-4 mt-24 -mx-4 xl:-mx-12 sm:grid-cols-2 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-4 xl:gap-x-2"
    >
      <section class="flex flex-col px-6 rounded-3xl lg:py-8 bg-gray-50">
        <h3 class="mt-5 text-lg text-black font-display">Standard</h3>
        <p class="mt-2 text-sm text-gray-500">
          Good for those managing just the essentials.
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-black font-display"
        >
          Free
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
        >
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
              Save up to 30 products</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Organize with one collection</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >iCloud syncing</span
            >
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none border-gray-200"
          aria-label="Wannabe tier"
          href="/register">Get started</a
        >
      </section>
      <section
        class="flex flex-col order-first px-6 py-8 rounded-3xl sm:px-8 bg-pink-500 lg:order-none"
      >
        <h3 class="mt-5 text-lg text-white font-display">BeautyMark Pro</h3>
        <p class="mt-2 text-sm text-pink-100">
          Perfect for people with large beauty collections.
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-white font-display"
        >
          $3.99
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-white gap-y-3"
        >
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Save unlimited products</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
              Organize into unlimited collections</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Themes and custom app icons</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Rich search</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
              Express-lane support</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Support indie developers</span
            >
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border-2 border-white hover:bg-transparent hover:border-white rounded-xl hover:text-white focus:outline-none"
          aria-label="Indie hacker tier"
          href="/register">Get started</a
        >
      </section>
    </div>
  </div>
</section>
