<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          About us
        </h1>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
        <img class="sm:mx-auto md:float-right max-w-64" src="./public/Memojis.png">
        <p>
          We created this app because, well, we've been in your shoes. Monica once realized she had accumulated basically 37 identical red lipsticks. (Oops!) And Brittany? She could never seem to remember her perfect concealer shade while out shopping. We figured there had to be a better way.
        </p>
        <p>
          That's when the idea struck us: What if we could carry our entire makeup collection in our pockets? No more forgotten shades or unnecessary duplicates. Just a virtual beauty bag that's always there when you need it.
          And that's how BeautyMark was born—a handy little app to help you keep track of all your beauty treasures, wherever you go. We hope it makes your beauty journey a bit easier and a lot more fun
        </p>
        <p>
          Happy collecting,<br>
          Monica & Brittany
        </p>
      </div>
    </div>
</section>
