<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Changelog
        </h1>
        <p class="mt-4 text-base leading-7 text-gray-500">
          Last updated on September 30, 2024
        </p>
      </div>
    </div>
</section>
