<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Changelog
        </h1>
        <p class="mt-4 text-base leading-7 text-gray-500">
          Last updated on Feb 21, 2025
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
        <!-- <h3>Version 1.03 | Mar 5, 2025</h3>
        <p>Bug fixes:</p>
        <ul>
          <li>Thumbnails are no longer broken when sharing products/collections</li>
          <li>Centered the lifetime informational text</li>
          <li>Some asynchronous images caused a random crash when saving products, and now they (hopefully) don't.</li>
        </ul> -->
      
      <h3>Version 1.02 | Feb 21, 2025</h3>
      <ul>
        <li>Updated link to the AppStore in Settings</li>
      </ul>

      <h3>Version 1.01 | Feb 4, 2024</h3>
      <ul>
        <li>Major performance improvements (loading images is hard!)</li>
        <li>Fix: confirmation dialogs were hiding on iPads (thanks Frances!)</li>
        <li>Fix: the collection list item is now more clickable</li>
        <li>Fix: product opening date not defaulting to "right now"</li>
      </ul>

      <h3>Version 1.0 | Dec 17, 2024</h3>
      <p>Out of beta and officially into the AppStore! Thanks to everyone who's been with us 
        during these Beta days! 🥰🙏🎉
      </p>
      <p>New features for Pro users (which remember: you should be since you don't actually get charged while in Beta!</p>
      <ul>
        <li>Personalized Views: Customize your product screens by hiding fields you don't use or find irrelevant</li>
        <li>Expiration tracking: Track both printed expiration dates and post-opening shelf lives for your beauty products. We try to distinguish between these two types to help you maintain product safety</li>
        <li>With all these new fields, we tried to simplify the "Add Product" screen a bit. Did it work?</li>
        <li>Automatic background removal: Product images now feature automatic background removal, making it easier to maintain a clean, consistent look—especially helpful for images captured from the web.</li>
      </ul> 
      <p>Bug fixes:</p>
      <ul>
        <li>Local backup files are now accessible through the Files app, allowing you to copy them to a secure (better) location that persists after app deletion.</li>
        <li>Fixed an issue where the brand/product autocomplete wasn't working correctly for existing products</li>
        <li>Resolved name deduplication issues affecting specific brands (such as Sephora Collection)</li>
        <li>Added ability to remove ratings (thanks Brenna!)</li>
      </ul>

      <h3>V2.1 (171) | Dec 4, 2024</h3>
      <ul>
        <li><b>New feature:</b> preview cards! Individual products now have a "Share" button in their action menu. It generates a colorful card you can share with friends. You know, for when you're asked "What are your favorite sunscreens again?"</li> 
        <li>An "add product" button has appeared directly in the grid</li>
        <li>Bug fix: less mystery around why you can't save a product (thanks Maeghan!)</li>
        <li>Bug fix: slightly less mystery (but never zero) as to why iCloud sync might be on the fritz (thanks Brenna!)</li>
        <li>Bug fix: you can swipe successfully out of the tutorial flow. For real this time (also thanks Brenna!)</li>
        <li>Team updates: Monica bought a Burt's Bees BB Cream ("it makes me break out") and Brittany is in Japan accumulating future updates.</li>
      </ul> 
      <h3>V2.1 (159) | Nov 12, 2024</h3>
      <ul>
        <li>Product categories are now slightly less case-sensitive</li> 
        <li>Updated the Collections page for non-pro users to make it clearer 
          the data is hiding, not gone</li>
        <li>Updated the links in Settings to point to our brand new website </li>
        <li>Minor bug fixed based on user feedback!</li>
      </ul>
      <h3>V2.1 (154) | Nov 10, 2024</h3>
      <ul>
        <li>Welcome to the BeautyMark Beta!! </li>
        <li>We've added a paywall, but don't fret: in-app purchases while in Beta 
          use the special TestFlight sandbox environment, so they're free to testers. 
          You can double check that before you press the final Apple purchase button -- 
          there should be a message that tells you no charge will actually be applied.</li>
        </li>
      </ul>
      </div>
  </div>
</section>
     
