<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Changelog
        </h1>
        <p class="mt-4 text-base leading-7 text-gray-500">
          Last updated on September 30, 2024
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
      <h3>V2.1 (128) | September 30, 2024</h3>
      <ul>
        <li>Added app icons</li>
        <li>Small redesign of Settings page</li>
        <li>Minor bug fixes</li>
      </ul>
      <h3>V2.1 (122-127) | September 30, 2024</h3>
      <ul>
        <li>Added Search</li>
        <li>Small redesign of the main page to accomodate search</li>
        <li>Experimenting with background removing -- this might make your phone warm (in which case we'll remove it)</li>
        <li>Minor bug fixes</li>
      </ul>
      <h3>V2.1 (121) | September 22, 2024</h3>
      <ul>
        <li>Don't use unsaved product brands in autocomplete</li>
        <li>Use only month + year for the product purchase date</li>
        <li>Minor bug fixes</li>
      </ul>
      <h3>V2.1 (120) | September 20, 2024</h3>
      <ul>
        <li>Added this release log</li>
        <li>Added Ulta brand list</li>
        <li>Ability to add multiple back-ups</li>
        <li>Minor bug fixes</li>
      </ul>
      <h3>V2.1 (119) | September 18, 2024</h3>
      <ul>
        <li>Fixed share-to extension</li>
        <li>Minor bug fixes</li>
      </ul>
      <h3>September 16, 2024</h3>
      <ul>
        <li>Refactored logic for storing product images</li>
        <li>Better data for imported products</li>
        <li>Importing/exporting manual backups</li>
        <li>Minor bug fixes</li>
      </ul>
      <h3>September 11, 2024</h3>
      <ul>
        <li>Collection design tweaks</li>
        <li>Added Sephora brand list</li>
        <li>Remember main view preferences</li>
        <li>Added related products on product pages</li>
        <li>Minor bug fixes</li>
      </ul>
      <h3>August 2024</h3>
      <ul>
        <li>Simplified add product flow</li>
        <li>Category product view</li>
        <li>Improvements for image loading</li>
        <li>Added three-column grid design</li>
        <li>Added autocomplete product categories</li>
        <li>Minor bug fixes</li>
      </ul>
      <h3>July 2024</h3>
      <ul>
        <li>Enabled CloudKit syncing</li>
        <li>Added product stamps</li>
        <li>Added collections</li>
        <li>Added purchase history</li>
        <li>Minor bug fixes</li>
      </ul>
      <h3>June 2024</h3>
      <ul>
        <li>Add ability to add multiple images per saved product</li>
        <li>Added search results page</li>
        <li>Added share-to extension</li>
        <li>Added ability to autocomplete brands when adding a product</li>
        <li>Added dark/light/system modes</li>
        <li>Minor bug fixes</li>
      </ul>
      <h3>April 2024</h3>
      <ul>
        <li>First commit!</li>
        <li>Added ability to add products</li>
        <li>Added ability to edit saved products</li>
        <li>Searching for producg images via Google</li>
      </ul>
      </div>
    </div>
  </div>
</section>
