<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Changelog
        </h1>
        <p class="mt-4 text-base leading-7 text-gray-500">
          Last updated on Nov 12, 2024
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
      <h3>V2.1 (159) | Nov 12, 2024</h3>
      <ul>
        <li>Product categories are now slightly less case-sensitive</li> 
        <li>Updated the Collections page for non-pro users to make it clearer 
          the data is hiding, not gone</li>
        <li>Updated the links in Settings to point to our brand new website </li>
        <li>Minor bug fixed based on user feedback!</li>
      </ul>
      <h3>V2.1 (154) | Nov 10, 2024</h3>
      <ul>
        <li>Welcome to the BeautyMark Beta!! </li>
        <li>We've added a paywall, but don't fret: in-app purchases while in Beta 
          use the special TestFlight sandbox environment, so they're free to testers. 
          You can double check that before you press the final Apple purchase button -- 
          there should be a message that tells you no charge will actually be applied.</li>
        </li>
      </ul>
      </div>
  </div>
</section>
