<footer>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 bg-pink-500">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a
        href="/"
        class="xl:col-span-1 text-white inline-flex items-center gap-3">
        <img class="w-8" src="/appicon.png">
        <span class="font-bold font-display">BeautyMark</span>
      </a>
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 text-sm text-gray-100 lg:col-span-3">
        <div>
          <h3 class="text-lg text-white font-medium tracking-tight">
            Product
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="/#features"
                class="hover:underline decoration-wavy">
                Features
              </a>
            </li>
            <!--
            <li>
              <a
                href="/#pricing"
                class="hover:underline decoration-wavy">
                Pricing
              </a>
            </li>
            -->
            <li>
              <a
                href="/changelog"
                class="hover:underline decoration-wavy">
                Changelog
              </a>
            </li>
            <li>
              <a
                href="/support"
                class="hover:underline decoration-wavy">
                Support
              </a>
            </li>
            <li>
              <a
                href="/faq"
                class="hover:underline decoration-wavy">
                FAQ
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-white font-medium tracking-tight">
            Company
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="/about"
                class="hover:underline decoration-wavy">
                About
              </a>
            </li>
          </ul>
        </div>

        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-white font-medium tracking-tight">
            Legal
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://www.apple.com/legal/internet-services/itunes/dev/stdeula/"
                class="hover:underline decoration-wavy">
                Terms of Use ⤴
              </a>
            </li>
            <li>
              <a
                href="/privacy"
                class="hover:underline decoration-wavy">
                Privacy
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-white font-medium tracking-tight">Socials</h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://discord.com/invite/C3dQE7VpZe"
                class="hover:underline decoration-wavy">
                Discord
              </a>
            </li>
            <li>
              <a
                href="https://instagram.com/beautymark.app"
                class="hover:underline decoration-wavy">
                Instagram
              </a>
            </li>
            <li>
              <a
                href="https://www.threads.net/@beautymark.app"
                class="hover:underline decoration-wavy">
                Threads
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="grid mx-auto w-full lg:px-24 max-w-7xl md:px-12 px-8 py-6 bg-pink-500">
    <div class="columns-2 flex justify-between">
      <div class="text-sm text-white lg:col-span-1 ">© 2025 BeautyMark Labs, LLC</div>
      <div class="text-sm text-white lg:col-span-1 ">Made with ♥︎ in foggy San Francisco</div>
    </div>
  </div>
</footer>

